<h1 class="font-semibold text-2xl mb-3">Validaciones Reactivas</h1>
<hr class="w-full" />
<div class="flex flex-col mt-3 gap-3">
  <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="submitForm()">
    <div class="flex flex-col gap-3">
        <!-- nombre -->
      <div class="flex">
        <h2 class="w-20">Nombre</h2>
        <div class="flex flex-col">
          <input
            type="text"
            name="name"
            placeholder="Nombre del usuario"
            class="input"
            formControlName="nombre"
          />
          <div class="min-h-[20px] flex flex-col gap-3 py-3">
            <p class="text-red-400" *ngIf="campoNoValido('nombre')">Debe de ser en formato nombre y apellido</p>
          </div>
        </div>
      </div>
      <!-- email -->
      <div class="flex">
        <h2 class="w-20">Email</h2>
        <div class="flex flex-col">
          <input
            type="email"
            name="name"
            placeholder="email del usuario"
            class="input"
            formControlName="email"
          />
          <div class="min-h-[20px] flex flex-col gap-3 py-3">
            <!-- <p class="text-red-400" *ngIf="emailRquired()">El correo es obligatorio</p>
            <p class="text-red-400" *ngIf="emailFormato()">El valor ingresado no tiene formato de correo</p>
            <p class="text-red-400" *ngIf="emailTomado()">El correo electronico ya fue tomado</p> -->
            <p class="text-red-400" *ngIf="campoNoValido('email')">{{emailErrorMsg}}</p>
          </div>
        </div>
      </div>
      <!-- username -->
      <div class="flex">
        <h2 class="w-20">Username</h2>
        <div class="flex flex-col">
          <input
            type="text"
            name="name"
            placeholder="username del usuario"
            class="input"
            formControlName="username"
          />
          <div class="min-h-[20px] flex flex-col gap-3 py-3">
            <p class="text-red-400" *ngIf="campoRequerido('username')">El usuario es obligatorio</p>
            <p class="text-red-400" *ngIf="campoNoStrider('username')">El usuario no puede ser Strider o Jean</p>
          </div>
        </div>
      </div>
      <!-- contraseña -->
      <div class="flex">
        <h2 class="w-20">Password</h2>
        <div class="flex flex-col">
          <input
            type="password"
            name="name"
            formControlName="password"
            placeholder="contraseña del usuario"
            class="input"
          />
          <div class="min-h-[20px] flex flex-col gap-3 py-3">
            <p class="text-red-400" *ngIf="campoRequerido('password')">La contraseña es obligatorio</p>
            <p class="text-red-400" *ngIf="campoMinLength('password')">La contraseña debe ser mayor a 6 caractéres</p>
          </div>
        </div>
      </div>
      <!-- Confirmar la constraseña -->
      <div class="flex">
        <h2 class="w-20">Confirmar</h2>
        <div class="flex flex-col">
          <input
            type="password"
            name="name"
            formControlName="password2"
            placeholder="contraseña del usuario"
            class="input"
          />
          <div class="min-h-[20px] flex flex-col gap-3 py-3">
            <p class="text-red-400" *ngIf="campoNoValido('password2')">Las contraseñas deben ser iguales</p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex mt-3 justify-end">
      <button
        type="submit"
        [disabled]="miFormulario.pending"
        class="bg-blue-500 px-3 py-2 rounded-md hover:bg-blue-800 w-40"
      >
        Registrarme
      </button>
    </div>
  </form>
  <div class="flex flex-col space-y-3">
      <h2 class="font-semibold text-2xl">Form Valid: {{miFormulario.valid}} </h2>
      <h2 class="font-semibold text-2xl">Form Status: {{miFormulario.status}} </h2>
      <h2 class="font-semibold text-2xl">Form Pending: {{miFormulario.pending}} </h2>
      <h2 class="font-semibold text-2xl">Form Error:</h2>
      <pre class="pl-4">{{miFormulario.errors | json}}</pre>
      <h2 class="font-semibold text-2xl">Form Nombre:</h2>
      <pre class="pl-4">{{miFormulario.controls['nombre'].errors | json}}</pre>
      <h2 class="font-semibold text-2xl">Form Email:</h2>
      <pre class="pl-4">{{miFormulario.controls['email'].errors | json}}</pre>
      <h2 class="font-semibold text-2xl">Form Username:</h2>
      <pre class="pl-4">{{miFormulario.controls['username'].errors | json}}</pre>
      <h2 class="font-semibold text-2xl">Form Password:</h2>
      <pre class="pl-4">{{miFormulario.controls['password'].errors | json}}</pre>
      <h2 class="font-semibold text-2xl">Form Confirmar:</h2>
      <pre class="pl-4">{{miFormulario.controls['password2'].errors | json}}</pre>
  </div>
</div>
